
/* GLOBALES */
L* {
  margin: 0;
  padding: 0;
}
.wrapper {
  overflow: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #fff;
  text-align: center;
}

ul li  {
  list-style: none;
}

/* BANNER */
.sociales {
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 1;
  /* display: inline; */
  
}
.sociales ul li {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;

}
.banner {
  position: relative;
  
}
.banner h1 {
  position: absolute;
  color: #fff;
  left: 45%;
  top: 5%;
  font-weight: bold;
font-size: 64px;
line-height: 75px;


}
.banner h2 {
  color: #fff;
  position: absolute;
  bottom: 60px;
  left: 25%;
  /* display: inline-block; */
  background: rgba(114, 153, 254, 0.5);
  padding: 10px;
  font-size: 30px;
}
.banner img {
  width: 100%;
}



 /* SKILL  */
.skill {
  padding: 10px;
  background: #5151b4;
}
.skill_courses {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* width: 100%; */
  justify-items: center;
}
.skill_item {
  width: 50%;
  /* margin: auto; */
}

 /* SERVICE  */
.services {
  background: #fb7171;
  padding: 10px 30px;
  text-align: center;
}
.items {
  display: flex;
}
h3 {
  color: #fff;
}
 /* PORTFOLIO  */
.portfolio {
  background: #ffd233;
  /* display: flex; */
  /* flex-flow: row wrap; */
  /* justify-content: center; */
}
/* CUSTOMERS  */
.customers {
  background: #3f4e62;
  /* display: flex;
  flex-flow: row wrap; */
}
/* CONTACT  */
.contact {
  background: #16a085;
  padding: 30px;
}
/* FORMULARIO  */
form {
  width: 600px;
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
}
input {
  width: 40%;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  flex: 1 1 auto;
}
textarea {
  border-radius: 5px;
  width: 80%;
  padding: 5px;
  min-height: 100px;
  max-height: 200px;
  max-width: 80%;
}
#boton {
  width: 80%;
  background: #233451;
  color: #ffffff;
  margin-top: 20px;
}

#boton:hover {
  cursor: pointer;
}
